<footer class="l-footer">
  <div class="l-footer__contents">
    <div class="l-footer__left">
      <div class="l-footer__logo"><a href=""><img src="/dist/asset/image/logo_footer.svg" alt="The Company"></a></div>
      <div class="l-footer__info">
        <p>〒530-0001</p>
        <p>大阪市北区梅田3丁目1番1号</p>
        <p>TEL.06-1234-5678</p>
        
      </div>
    </div>
    <div class="l-footer__center">
      <nav class="l-footer__nav">
        <ul>
          <li><a href="">TOP</a></li>
          <li><a href="">ROOM</a></li>
          <li><a href="">AREA GUIDE</a></li>
          <li><a href="">ACCESS</a></li>
          <li><a href="">CONTACT</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="l-footer__copy"><a href="">©2020 Tenkue App</a></div>
</footer>
<script src="/dist/asset/js/bundle.js"></script>
