<footer class="l-footer">
  <div class="l-footer__inner">
    <div class="l-footer__container">
      <div class="l-footer__item">
        <ul>
          <li class="l-footer__logo">
            <img src="/asset/image/logo_footer.svg" alt="">
          </li>
          <p>〒530-0001<br>大阪市北区梅田3丁目1番1号</p>
          <p>TEL.06-1234-5678(代)</p>
        </ul>
      </div>
      <div class="l-footer__item">
        <nav class="l-footer__nav">
          <ul>
            <li><a class="l-footer__nav__item" href="/">TOP</a></li>
            <li><a class="l-footer__nav__item" href="/room/">ROOM</a></li>
            <li><a class="l-footer__nav__item" href="/areaguide/">AREA GUIDE</a></li>
            <li><a class="l-footer__nav__item" href="/access/">ACCESS</a></li>
            <li><a class="l-footer__nav__item" href="/contact/">CONTACT</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="l-footer__copy"><a href="">©2020 Tenkue App</a></div>
  </div>
</footer>
<script src="/asset/js/bundle.js"></script>
