<header class="l-header__contents">
  <div class="l-header">
    <div class="l-logo">
      <a class="l-header__logo" href="#">
        <img src="/asset/image/logo_header.svg" alt="ヘッダー"></a>
    </div>
    <a class="js-nav__button" href="#">
      <span></span>
      <span></span>
      <span></span>
    </a>
    <nav class="js-nav__wrap">
      <ul class="l-nav">
        <li><a href="/">TOP</a></li>
        <li><a href="/room/">ROOM</a></li>
        <li><a href="/areaguide/">AREA GUIDE</a></li>
        <li><a href="/access/">ACCESS</a></li>
        <li><a href="/contact/">CONTACT</a></li>
      </ul>
    </nav>
   </div>
 </div>
</div>
</header>