<header class="header" id="header">
  <div class="container"></div>
  <div class="header__inner">
   <a class="l-header__logo" href=""#>
     <img src="/src/asset/image/logo_header.svg" alt="ヘッダー"></a>
    <nav class="header__nav">
      <ul>
      <li><a class="header-nav__item" href="#">TOP</a></li>
      <li><a class="header-nav__item" href="#">ROOM</a></li>
      <li><a class="header-nav__item" href="#">AREA GUIDE</a></li>
      <li><a class="header-nav__item" href="#">ACCESS</a></li>
      <li><a class="header-nav__item" href="#">CONTACT</a></li>
      <li><a class="header-nav__item" href="#">test01</a></li>

      
      </ul>
    </nav> 
   </div>
  </div>
</header>