<div id="nav-toggle">
  <div>
      <span></span>
      <span></span>
      <span></span>
  </div>
</div>
<div id="gloval-nav">
  <nav>
      <ul>
          <li><a href="#">TOP</a></li>
          <li><a href="#">ROOM</a></li>
          <li><a href="#">AREA GUIDE</a></li>
          <li><a href="#">ACCESS</a></li>
          <li><a href="#">CONTACT</a></li>
      </ul>
  </nav>
</div>
<header class="header" id="header">
  <div class="container"></div>
  <div class="header__inner">
   <a class="l-header__logo" href=""#>
     <img src="/src/asset/image/logo_header.svg" alt="ヘッダー"></a>
    <nav class="header__nav">
      <ul>
      <li><a class="header-nav__item" href="#">TOP</a></li>
      <li><a class="header-nav__item" href="#">ROOM</a></li>
      <li><a class="header-nav__item" href="#">AREA GUIDE</a></li>
      <li><a class="header-nav__item" href="#">ACCESS</a></li>
      <li><a class="header-nav__item" href="#">CONTACT</a></li>
      </ul>
    </nav> 
   </div>
  </div>
</header>