body{
  font-family:serif;
  color: #222;
  line-height: 2;
}
main{
  padding-bottom:150px;
}
.cont{
  &_act_text {
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
}

  &_attention {
  margin-bottom: 60px;
  text-align: center;
}

  &_main-photo{
  width:100%;
  height: 60vh;
  background-image: url(image/contact_01.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-position-x: center;
  background-position-y: center;
  background-size:cover;
}

  &_section-title {
        font-size: 24px;
        margin-bottom:60px;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: relative;
        text-align: center;
      }

  &_section-title::after {
          content:"";
          width:40px;
          height:2px;
          background-color: #00478b;
          border-radius:1px;
          box-sizing:border-box;
          position:absolute;
          left:50%;
          bottom:-5px;
          transform:translateX(-50%);
          }
  
        @include mq('tab') {
          font-size: 50px;
          padding-bottom: 28px;
        }
        @include mq('sp') {
          font-size: 42px;
          padding-bottom: 16px;
        }
  &_inputWrap{
  margin-bottom: 30px;
  display:flex;
  flex-direction: column；
}
  @media screen and (max-width: 576px) {
    .p-contact_label{
      display:block;
      width:70px;
    }
}
        
  &_input{
  font-size: 16px;
  width:70%;
  padding:0.6pm;
  background-color:#e8e1d3;
  border:none;
  border-top-color: currentcolor;
  border-top-style: none;
}

@media screen and (max-width: 576px) {
    .p-contact_input{
      display:block;
    }
}

 &_label{
  width:25%;
  margin:0 auto;
  padding:0.6em;
  color:#fff;
  background-color:#00478b;
}

 &_textarea{
 font-size:16px;
 width:70%;
 padding:0.6pm;
 background-color:#e8e1d3;
 border:none;
}

  &_note{
  text-align: center;
}

  &_checklabel {
  max-width: 350px;
  margin: 0 auto;
}

  &_checkbox {
  font-size: 14px;
}

  &_btn {
  font-size:16px;
  width: 300px;
  margin: 0 auto 20px;
  padding: 1em;
  background-color: transparent;
  border: 1px solid #222;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  cursor: pointer;
  font-size: 16px;
}
}

input,select{
  vertical-align:middle;
}
::before,::after{
  box-sizing:border-box;
}