.p-top {
  &__mv {
      width: 100%;
      height: calc(100vh - 80px);
      margin-top: 80px;
      background-image: url(../image/mv.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
  }

  &__container {
      display: block;
    //   margin-bottom: 50px;
      padding: 60px 0;

      &:nth-of-type(3) {
          background-color: #fffff9;
      }

      @include sp-layout() {
          padding: 30px 0;
          height: 750px;
          text-align: center;
      }
  }

  &__title {
      margin-top: 10px;
      margin-bottom: 60px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;

      @include sp-layout() {
          margin-bottom: 30px;
      }
  }

  &__subtitle {
      text-transform: uppercase;
      @include font-size(18);
  }

  &__text {
      text-align: center;
      line-height: 2.5;
      // @include sp-layout(){
      //     font-size: 100px;
      // }
  }
  &__imgWrap {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;

      & img {
          width: 23%;
      }
  }

  &__btnWrap {
      width: 100%;
  }

  &__btn {
      width: 100%;
      margin-top: 40px;
      margin-bottom: 30px;
      padding: 0.6em 2em;
      display: block;
      color: #fff;
      text-align: center;
      background-color: rgba(#00478b, 1);

      @include sp-layout() {
          margin-top: 20px;
      }

      &__-secondary {
          max-width: 400px;
          margin-left: auto;
          margin-right: auto;

          &:before {
              background-image: url(/asset/image/login.svg);
          }
      }
  }

  &__note,
  &__note a {
      @include font-size(14);
  }

  &__imgWrap{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
}

iframe {
  width: 100%;
}

.l-col2{
    display: flex;
    justify-content: space-between;

    // @include sp-layout {
    //     display: block;
    // }
  &__flist {
      display: block;
      height: 100%;
  width: 45%;
  float: left;
  margin-right: 30px;
}
}

.l-col3{
  display: flex;
  justify-content: space-between;

  @include sp-layout() {
    width: 100%;
}

  &__list{
    width: 30%;
  }
}
